<section class="absolute w-full h-screen bg-gray-800 z-[100] grid place-content-center">
  <div class="loader grid gap-2 grid-cols-3 grid-rows-3">
    <div [ngStyle]="{'background':colors[0]}" class="w-14 bg-gray-900 h-14 rounded row-[1] col-[1]"></div>
    <div [ngStyle]="{'background':colors[1]}" class="w-14 bg-gray-900 h-14 rounded row-[2] col-[1]"></div>
    <div [ngStyle]="{'background':colors[2]}" class="w-14 bg-gray-900 h-14 rounded row-[3] col-[1]"></div>
    <div [ngStyle]="{'background':colors[3]}" class="w-14 bg-gray-900 h-14 rounded row-[3] col-[2]"></div>
    <div [ngStyle]="{'background':colors[4]}" class="w-14 bg-gray-900 h-14 rounded row-[3] col-[3]"></div>
    <div [ngStyle]="{'background':colors[5]}" class="w-14 bg-gray-900 h-14 rounded row-[2] col-[3]"></div>
    <div [ngStyle]="{'background':colors[6]}" class="w-14 bg-gray-900 h-14 rounded row-[1] col-[3]"></div>
    <div [ngStyle]="{'background':colors[7]}" class="w-14 bg-blue-600 h-14 rounded row-[1] col-[2]"></div>
  </div>
</section>
