<footer [className]="'absolute bottom-0 w-full p-2 bg-gray-800 flex gap-5 justify-center items-center '" dir="rtl">

  <div routerLink="/home" [className]="'p-3 ring-0 rounded-xl bg-gray-900 border border-gray-700 flex justify-center items-center ' +
   'transition-all duration-300 cursor-pointer hover:bg-gray-600'">
    <mat-icon [className]="'text-white'">calendar_today</mat-icon>
  </div>
  <div routerLink="/timer" [className]="'p-3 ring-0 rounded-xl bg-gray-900 border border-gray-700 flex justify-center items-center ' +
   'transition-all duration-300 cursor-pointer hover:bg-gray-600'">
    <mat-icon [className]="'text-white'">access_alarm</mat-icon>
  </div>
  <div routerLink="/alarm" [className]="'p-3 ring-0 rounded-xl bg-gray-900 border border-gray-700 flex justify-center items-center ' +
   'transition-all duration-300 cursor-pointer hover:bg-gray-600'">
    <mat-icon [className]="'text-white'">add_alarm</mat-icon>
  </div>

</footer>


