<main    class="w-full h-screen bg-sky-100">

  <div class="p-4 w-full flex justify-center items-center">
      <div class="flex gap-10">
        <button mat-icon-button color="primary" (click)="previousMonth()" class="justify-center items-center flex" >
          <mat-icon >arrow_back_ios</mat-icon>
        </button>

        <div class="flex justify-center flex-col ">
          <div class="font-black flex justify-center text-[1.4rem]" id="year">
            {{year}}
          </div>
          <div class="flex justify-center gap-2">
            {{months[month].name}}
          </div>
        </div>


        <button mat-icon-button color="primary" (click)="nextMonth()" class="justify-center items-center flex" >
          <mat-icon >arrow_forward_ios</mat-icon>
        </button>

      </div>
  </div>

  <section  class="grid grid-cols-7 ">
    @for (dayIs of  days;track dayIs;let i = $index) {

      <div [ngClass]="{'border-green-500':i+1 == time.getDate() && month == time.getMonth() && year == time.getFullYear()}"
           [routerLink]="['/calendar/'+year+'/'+month+'/'+day+'/']"
           class="flex flex-col parent items-center border-[1px] bg-white rounded  border-gray-200 h-[7.15rem] cursor-pointer transition-all duration-300
    hover:bg-cyan-50 " >
        <h1>{{ dayIs.day }}</h1>
        <h1>{{dayIs.dayName}}</h1>
        @if (i+1 == time.getDate() && month == time.getMonth() && year == time.getFullYear()) {
          <h1 class="text-gray  rounded-xl bg-rose-600 text-white px-5 text-[0.7rem]">today</h1>
        }
      </div>
    } @empty {
      <h2>No Items Yet</h2>
    }

  </section>
</main>
<app-footer></app-footer>
