<main class="w-full h-screen bg-sky-100">

  <div class="p-4 w-full flex justify-center items-center">
      <div class="flex">
        <mat-icon (click)="previousMonth()" class="mr-2 transition-all rounded-[50%] cursor-pointer duration-300 hover:bg-sky-200 ">
          keyboard_arrow_left</mat-icon>
        <div class="flex justify-center flex-col ">
          <div class="font-black flex justify-center text-[1.4rem]" id="year">
            {{year}}
          </div>
          <div class="flex justify-center gap-2">
            {{months[month].name}} {{day}}
          </div>
        </div>

          <mat-icon (click)="nextMonth()" class="ml-2 transition-all rounded-[50%] cursor-pointer duration-300 hover:bg-sky-200 ">
            keyboard_arrow_right</mat-icon>
      </div>
  </div>

  <section class="grid grid-cols-7 ">
    @for (dayIs of  days;track dayIs;let i = $index) {
      <div [ngClass]="{'border-green-500':i+1 == time.getDate() && month == time.getMonth() && year == time.getFullYear()}"
           class="flex flex-col parent items-center border-[1px] bg-white rounded  border-gray-200 h-[7.15rem] cursor-pointer transition-all duration-300
    hover:bg-green-400 hover:opacity-60 hover:text-white" >
        <h1>{{ i+1 }}</h1>
        <h1>{{dayIs}}</h1>
        @if (i+1 == time.getDate() && month == time.getMonth() && year == time.getFullYear()) {
          <h1 class="text-gray  rounded-xl bg-rose-600 text-white px-5">today</h1>
        }
      </div>
    } @empty {
      <h2>No Items Yet</h2>
    }
  </section>
</main>
